# ESP-IDF / ESP-ADF build output
/build/
/managed_components/
sdkconfig.old
*.log

# Python virtual environment
/.venv/
*.pyc
__pycache__/

# IDE / Editor
/.vscode/
*.swp
*.~*

import zone/
imports/
boot_images/
*.zipmain/boot_images.h
