menu "My Audio Board"

choice CUSTOMER_AUDIO_BOARD
    prompt "My audio board"
    default MY_BOARD_V1_0
    help
        Select an audio board to use with the ESP-ADF

config MY_BOARD_V1_0
    bool "My board v1.0"

endchoice

config BOARD_PA_GAIN
    int "Power amplifier gain"
    default 10
    help
        The gain of the power amplifier on the board.

endmenu
